{{ 'footer-custom.css' | asset_url | stylesheet_tag }}

<footer class="footer-cust">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer-cust__firhalf">
        <figure>
          <img
            src="{{ section.settings.image| image_url }}"
            width="250"
            height="220"
            alt="Footer Image"
            class="footer-cust__logo">
        </figure>
        <div class="footer-cust__address">
                {{ section.settings.Address }}
        </div>
      </div>
      <div class="col-lg-8">
        <div class="col-lg-4 bg-danger">
          <div>
          <ul>
          {% for item in linklists[section.settings.menu].links %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
          </ul>
          </div>
        </div>
        <div class="col-lg-8 bg-success">
          <div>
          {{section.settings.Heading_Subscription}}
          {{section.settings.subText}}
          </div>
        </div>
      </div>
      </div>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer Custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "richtext",
        "id": "Address",
        "label": "Address",
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "footer menu"
      },
      {
        "type": "richtext",
        "id": "Heading_Subscription",
        "label": "Heading_Subscription",
      },
      {
        "type": "richtext",
        "id": "subText",
        "label": "subText",
      }
    ],
    "presets": [
      {
        "name": "Footer Custom"
      }
    ]
  }
{% endschema %}